doctype 5
html(lang="en")
	head
		title= 'Small WRLD Chatroom'
		script(type="text/javascript", src='http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js')
	body
		#container
			h1 Small Wrld Chatroom by JL
			div#chat
			div.controls
				input#username(placeholder='Name')
				br
				input#text
				button#sendButton Send
		script(type="text/javascript", src='/socket.io/socket.io.js')
		script(type="text/javascript", src='/chat.js')