doctype 5
html(lang="en")
	head
		title= "Small WRLD Chatroom"
		script(src="/chat.js")
		script(src="/socket.io/socket.io.js")
	body
		#container
			h1 Small Wrld Chatroom by JL
			div#chat
			div.controls
				input#field
				button#sendButton Send