#chat, #users{
    height: 450px;
    margin-bottom: 15px;
    overflow-x: hidden;
    overflow-y: scroll;
}

.message, .user{
    padding: 9px 15px;
    border-bottom: 1px solid #DDD;
}

.self{
    background-color: #FFFCEF;
}

.server{
    padding: 0px inherit;
    color: grey;
    font-style: italic;
}
